# change default port
service:
  port: 4180

resourcesPreset: "small"

## Configuration section
##
configuration:
  clientID: <%= clientID %>
  clientSecret: <%= clientSecret %>
  # openssl rand -base64 32 | tr -- '+/' '-_'
  cookieSecret: "FAvEZfNGYgEi-V4v5FWT6V7rCghcSgqF0jjNwYHU2w8="
  # https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview
  # oauth2_proxy.cfg，注意等号后面 String类型需要引号
  # Recommended settings:
  #   cookie_refresh := Access-Token lifespan - 1m
  #   cookie_expire := Refresh-Token lifespan (i.e. Keycloak client_session_idle)
  content: |
    reverse_proxy = true
    provider = "keycloak-oidc"
    provider_display_name = "Keycloak"
    email_domains = "*" 
    set_xauthrequest = true
    set_authorization_header = true
    pass_access_token = true
    ssl_insecure_skip_verify = true
    ssl_upstream_insecure_skip_verify = true
    insecure_oidc_allow_unverified_email = true
    code_challenge_method = "S256"
    cookie_expire = "30m"
    cookie_refresh = "4m"
    cookie_csrf_expire = "5m"
    cookie_csrf_per_request = true
    cookie_samesite = "lax"
    skip_auth_routes = '.*\.(js|css)$'
    upstreams = "file:///dev/null"
    silence_ping_logging = true
    backend_logout_url = "<%= keycloakBaseUrl %>/realms/devops/protocol/openid-connect/logout"

  oidcIssuerUrl: <%= keycloakBaseUrl %>/realms/devops
  redirectUrl: ""
  # 白名单： *.xxx.com
  whiteList: "<%= whiteList %>"

extraEnvVars:
  - name: OAUTH2_PROXY_CUSTOM_TEMPLATES_DIR
    value: /bitnami/oauth2-proxy/templates

extraVolumes: 
  - emptyDir: {}
    name: templates

extraVolumeMounts: 
  - mountPath: /bitnami/oauth2-proxy/templates
    name: templates

initContainers:
  # copy 自定义模板，不需要点击 `Sign in` 按钮，自动重定向到登录页
  - name: auto-sign-in
    # 源码： https://github.com/l10178/x-container
    image: docker.io/nxest/oauth2-proxy-auto-sign-in:v7.7.2
    imagePullPolicy: IfNotPresent
    env:
    - name: OAUTH2_PROXY_CUSTOM_TEMPLATES_DIR
      value: /bitnami/oauth2-proxy/templates
    volumeMounts:
      - mountPath: /bitnami/oauth2-proxy/templates
        name: templates

redis:
  enabled: true
  global:
    # imageRegistry: ""
    redis:
      password: "A4v5FWT6V7rCghcSgqF0jjNwYHU29"
  master:
    persistence:
      enabled: false